name: Deploy Cyber App to Subfolder

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install and Build
        run: |
          cd fakeControllApp/cyber-app
          npm install
          npm run build

      - name: Deploy to gh-pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: fakeControllApp/cyber-app/dist # ビルドした成果物
          target-folder: fakeControllApp/cyber-app/dist # gh-pagesブランチ内の「ここ」に配置
          branch: gh-pages